target
.idea
*.iml
*.ipr
*.iws
*.log
.project
.classpath
.settings
*.DS_Store

# some tests write files into module
/magnolia-module-imaging/*.jpg
/magnolia-module-imaging/*.png
/magnolia-module-imaging/*.gif

